html{
    margin: 8px;
}
.container-header{
    display: flex;
    margin: 10px;
}
.container-carrusel{
    width: 80vw;
    height: 100%;
}
.container-descripcion .card-body{
    width: 20vw;
}


@media screen and (max-width: 850px){
    .container-header{
        display: block;
    }
    .container-descripcion .card-body{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}